bottleneck
mne
pyedflib
pyarrow
fastparquet
pytorch
torchvision
torchaudio
torchinfo
numpy==1.23.5
pandas==1.5.3
ipykernel==6.17.1
ipython==8.7.0
jupyter-client==7.4.7
jupyter-core==5.1.0
matplotlib==3.7.1
neurokit2==0.2.0
python-dotenv
pytest
pylint
tensorflow
mlflow
mlflow[extras]
opentelemetry-api
opentelemetry-sdk
importlib-metadata
mlserver
mlserver-mlflow
packaging
setuptools
evidently
keras
scikit-learn
seaborn
jax
jax[cpu]
jaxlib
tqdm
metaflow==2.15.12
metaflow-card-html==1.0.3
torcheval
tslearn
torchmetrics
einops
opencv-python
fastavro
